<div class="nav_container">
    <div class="navbar">
        <a href="/" class="navlink"><div class="box" id="home">
            <p>Home</p>
        </div></a>
        <a href="/Games/" class="navlink"><div class="box" id="games">
            <p>Games</p>
        </div></a>
        <a href="/Pics/" class="navlink"><div class="box" id="photos">
            <p>Pics</p>
        </div></a>
        <a href="/articles/" class="navlink"><div class="box" id="article">
            <p><b>Articles</b></p>
        </div></a>
        <a href="/Aquarium/" class="navlink"><div class="box" id="aquarium">
            <p>Aquarium</p>
        </div></a>
        <a href="/Settings" class="navlink"><div class="box" id="settings">
            <p>Settings</p>
        </div></a>                         
    </div>
</div>
<hr>
<br>