---
---

@import "minima";

:root {
    --page-colour: white;
    --page-shadow-colour: #B0B0B0;
    --bg-colour: rgb(220,220,220);
    --link-colour: #658FC6;
    --link-visited-colour: #1756a9;
    --text-colour: black;
    --meta-colour: #828282;
    --outline-colour: rgb(220,220,220);
}

body {
    background-color: var(--bg-colour);
    font-family: serif;
    color: var(--text-colour);
}
a {
    color: var(--link-colour);
}

a:visited {
    color: var(--link-visited-colour);
}

a:hover {
    color:var(--text-colour);
}
.post-meta {
    color: var(--meta-colour);
}

.container {
    display:flex;
    flex-flow: row;
    justify-content: center;
    margin: 10px;
}
.main {
    background-color: var(--page-colour);
    width: 100%;
    height:auto;
    max-width: 700px;
    min-width: none;

    justify-self: center;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 7px 10px var(--page-shadow-colour);
}

//post page
.post {
    margin-top: 30px;
}

//post attachments
img {
    box-sizing: border-box;
    margin-bottom: 20px;
}

//places
.left {
    float: left;
    margin-right: 15px;
}
.right {
    float: right;
    margin-left: 20px;
}

//sizes
.icon {
    width: 100px
}
.small {
    width: 200px;
}
.medium {
    width: 300px;
}
.large {
    width: 400px
}
.xlarge {
    width: 500px;
}
.full {
    width: 100%;
    margin: 20px 0 20px 0;
}
.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    float:none;
    margin: 20px 0 20px 0;
}

@media only screen and (max-width: 720px) {
    .xlarge {
        width: 100%;
        float:none;
        margin:0 0 5px 0;
    }
}
@media only screen and (max-width: 600px) {
    .medium, .large {
        width: 100%;
        float:none;
        margin:0 0 5px 0;
    }
}
.thumb {
    margin-bottom: 20px !important;
}


//homepage
#footer-image {
    width: 100%;
    display: flex;
}
#lilguy {
    width: 300px;
}

.post-box {
    width: 100%;
    height: fit-content;
    max-height: 200px;
    display:flex;
    flex-flow: row-reverse;
    margin-bottom: 15px !important;

    border-style: solid;
    border-color: var(--outline-colour);
    border-width: 2px;

    padding: 10px;
    box-sizing: border-box;

    overflow: hidden;
}
.post-box:hover {
    border-color: var(--link-colour);
}

.thumbnail {
    box-sizing: border-box;
    object-fit: cover;
    width: 30%;
    height: 100%px;
    margin: 0 0 0 20px;

}

.post-text {
    display:flex;
    flex-flow:column;
    box-sizing: border-box;
    max-height: 200px;
    flex: 1;
}

.excerpt {
    box-sizing: border-box;
    overflow-y: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    flex:1;
}

.excerpt img {
    display:none;
}


.excerpt::before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 80px, var(--page-colour));
}



//mobile
@media only screen and (max-width: 500px) {
    //general
    html, body {
        background-color: var(--page-colour);
    }
    .container {
        margin: 0;
    }
    .main {
        box-shadow: none;
    }

    #footer-image {
        justify-content: center;
    }

    //posts
    .post-box {
        max-height: 390px;
        flex-flow: column;
    }
    .post-text {
        max-height: 200px;
    }
    .thumbnail {
        display: block;
        width: 100%;
        height: 150px;
        margin-left: 0;
        margin: 0;
        margin-bottom: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-colour: rgb(50,50,50);
        --page-shadow-colour: rgb(12, 12, 12);
        --bg-colour: rgb(20,20,20);
        --link-colour: #8ab0e1;
        --link-visited-colour: #4f86c9;
        --text-colour: white;
        --meta-colour: #bebebe;
        --outline-colour: rgb(100, 100, 100);
    }
    #lilguy {
        filter: invert(0.805);
    }
}