---
---

@import "minima";

body {
    background-color: rgb(220,220,220);
    font-family: serif;
}
.container {
    display:flex;
    flex-flow: row;
    justify-content: center;
    margin: 10px;
}
.main {
    background-color: white;
    width: 100%;
    height:auto;
    max-width: 700px;
    min-width: none;

    justify-self: center;
    padding-left: 25px;
    padding-right: 25px;

    border-radius: 3px;
}

//post page
.post {
    margin-top: 30px;
}

//post attachments
img {
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 20px;
}

//places
.left {
    float: left;
    margin-right: 15px;
}
.right {
    float: right;
    margin-left: 15px;
}

//sizes
.icon {
    width: 100px
}
.small {
    width: 200px;
}
.medium {
    width: 300px;
}
.large {
    width: 400px
}
.xlarge {
    width: 500px;
}
.full {
    width: 100%;
    margin: 20px 0 20px 0;
}
.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    float:none;
    margin: 20px 0 20px 0;
}

@media only screen and (max-width: 600px) {
    .medium, .large {
        width: 100%;
        float:none;
        margin:0;
    }
}


//homepage

#lilguy {
    width: 300px;
}

.boxlink {
    display: block;
}

.post-box {
    width: 100%;
    height: fit-content;
    max-height: 200px;
    display:flex;
    flex-flow: row-reverse;
    margin-bottom: 15px !important;

    border-style: solid;
    border-color: rgb(220,220,220);
    border-width: 2px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;

    overflow: hidden;
}
.post-box:hover {
    border-color:#658FC6;
}

.thumbnail {
    box-sizing: border-box;
    object-fit: cover;
    width: 30%;
    height: 100%px;
    margin: 0 0 0 20px;

}

.post-text {
    display:flex;
    flex-flow:column;
    box-sizing: border-box;
    max-height: 200px;
    flex: 1;
}

.excerpt {
    box-sizing: border-box;
    overflow-y: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    flex:1;
}

.excerpt img {
    display:none;
}


.excerpt::before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 80px, white);
}



//mobile
@media only screen and (max-width: 500px) {
    .post-box {
        max-height: 390px;
        flex-flow: column;
    }
    .post-text {
        max-height: 200px;
    }
    .thumbnail {
        display: block;
        width: 100%;
        height: 150px;
        margin-left: 0;
        margin: 0;
        margin-bottom: 10px;
    }
}