/*navigation bar*/
.nav_container {
    justify-items: left;
    top: 10px;
    margin: 10px 0 0px 0;
    width: 100%;
}
.navbar {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    top:0;
    margin-bottom: 10px;
    width:100%;
    height: auto;
    text-align: left;
    align-content:center;
    align-items: center;

}

.box {
    box-sizing: border-box;
    align-content: center;
    height: 40px;
    width: fit-content;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    
    p {
        padding: 0 !important;
        margin: 0 !important;
    }
}

a.navlink {
    text-decoration: none;
    color: rgb(50,50,50);
}


@media only screen and (max-width: 520px) {
    a.navlink {
        width: calc(100% / 3);
    }
    .box {
        width: 100%;
    }
}


@media (prefers-color-scheme: dark) {
    a.navlink {
        color: white !important;
    }
}


/*hover*/
#home:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/home_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#games:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/games_navbar.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    color: white;
}

#photos:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/photos_navbar.jpg");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#article {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/assets/navbar/articles_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#aquarium:hover {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("/assets/navbar/aquarium_navbar.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    color: white;
}

#settings:hover {
    background-color: rgb(25, 25, 30);
    color:white;
}